:root {
  --palette-base: #eff1f5;
  --palette-mantle: #e6e9ef;
  --palette-crust: #dce0e8;
  --palette-surface0: #ccd0da;
  --palette-surface1: #bcc0cc;
  --palette-surface2: #acb0be;
  --palette-overlay0: #9ca0b0;
  --palette-overlay1: #8c8fa1;
  --palette-overlay2: #7c7f93;
  --palette-subtext0: #6c6f85;
  --palette-subtext1: #5c5f77;
  --palette-text: #4c4f69;
  --palette-lavender: #7287fd;
  --palette-blue: #1e66f5;
  --palette-sapphire: #209fb5;
  --palette-sky: #04a5e5;
  --palette-teal: #179299;
  --palette-green: #40a02b;
  --palette-yellow: #df8e1d;
  --palette-peach: #fe640b;
  --palette-maroon: #e64553;
  --palette-red: #d20f39;
  --palette-mauve: #8839ef;
  --palette-pink: #ea76cb;
  --palette-flamingo: #dd7878;
  --palette-rosewater: #dc8a78;
  --palette-tag-1: var(--palette-mauve);
  --palette-tag-2: var(--palette-blue);
  --palette-tag-3: var(--palette-green);
  --palette-tag-4: var(--palette-peach);
  --palette-tag-5: var(--palette-pink);
  --palette-tag-6: var(--palette-teal);
  --palette-tag-7: var(--palette-yellow);
  --palette-tag-8: var(--palette-maroon);
  --palette-tag-9: var(--palette-lavender);
  --palette-tag-10: var(--palette-sky);
}
